<div class="page-header">
	<h1>ICD-10 Code Lookup</h1>
</div>
<h3>Search: </h3>
<form role="form">
  <div class="form-group">
		<input type="text" class="form-control" ng-model="query" ng-debounce="200"/>
		<p ng-show="query.length<3" class="help-block">Search string must be 3 or more characters</p>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="searchPreferences.codeParent.isSearching"> Code
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="searchPreferences.description.isSearching"> Description
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="searchPreferences.keyword.isSearching"> Keyword
		</label>
	</div>
</form>
<div ng-show="query.length>2">

	<i ng-show="!isParentDataLoaded" class="fa fa-spinner fa-spin"></i>

	<div ng-show="isParentDataLoaded">

		<h3>Results ({{filtered.length}}), {{search_times[1]-search_times[0]}} ms</h3>
		<table class="table">
			<thead>
				<tr>
					<th class="col-md-1">Code</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody >
				<tr ng-click="isCodeChildVisible=!isCodeChildVisible" ng-repeat-start = "code in filtered | limitTo:currentLimit track by $index">
					<td>{{code.c}}</td>
					<td><p ng-bind-html="code.d | highlight:query:false:'ui-match'"></p></td>
				</tr>
	      <tr class="child-row" code-children ng-show="isCodeChildVisible && isChildrenDataLoaded">
	      </tr>
	      <tr ng-show="isCodeChildVisible && !isChildrenDataLoaded" ng-repeat-end>
	      	<td col-width="2"><i class="fa fa-spinner fa-spin"></i></td>
	      </tr>
			</tbody>
		</table>
		<div ng-show="filtered.length>currentLimit">
		{{filtered.length - currentLimit}} more
			<button type="button" class="btn btn-default btn-med"
			ng-click="currentLimit=currentLimit+20">Show more .. </button>
		</div>
	</div>
</div>